################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoDBUsers/v15/Server/sqlite3
/MongoDBUsers/obj/MongoDBGames.csproj.nuget.g.targets
